<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="conteudo">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 th:text="${titulo} ?: 'Lista de Vacinas'"></h1>
        <a href="/vacinas/novo" class="btn btn-primary btn-lg">
            <i class="bi bi-plus-circle"></i> Cadastrar Nova Vacina
        </a>
    </div>

    <table class="table table-striped table-hover shadow-sm bg-white">
        <thead class="table-dark"> <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Fabricante</th>
            <th>Lote</th>
            <th>Data Validade</th>
            <th>Carência (dias)</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vacina : ${vacinas}">
            <td th:text="${vacina.id}">1</td>
            <td th:text="${vacina.nome}">Aftosa</td>
            <td th:text="${vacina.fabricante}">MSD</td>
            <td th:text="${vacina.loteFabricacao}">LOTE-123</td>
            <td th:text="${#temporals.format(vacina.dataValidade, 'dd/MM/yyyy')}">01/01/2026</td>
            <td th:text="${vacina.diasCarenciaAbate}">30</td>
            <td>
                <a th:href="@{/vacinas/editar/{id}(id=${vacina.id})}" class="btn btn-warning btn-sm">
                    <i class="bi bi-pencil-fill"></i> Editar
                </a>
                <a th:href="@{/vacinas/excluir/{id}(id=${vacina.id})}" class="btn btn-danger btn-sm">
                    <i class="bi bi-trash-fill"></i> Excluir
                </a>
            </td>
        </tr>

        <tr th:if="${vacinas.empty}">
            <td colspan="7">
                <div class="alert alert-info text-center" role="alert">
                    Nenhuma vacina cadastrada.
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</section>
</html>